.git
.gitignore
.claude
.venv
env
__pycache__
.pytest_cache
.vscode
.idea
*.pyc
*.pyo
*.pyd
docs
tests
scripts
ui-src
node_modules

mss_ai_ppt_sample_assets/backend/outputs
mss_ai_ppt_sample_assets/backend/models
